@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  display: grid;
  min-height: 100vh;
}

.toastC {
  margin: 0%;
  display: inline;
}

.biggerText {
  color: #414141;
  font-weight: 700;
}

.littleText {
  color: #414141;
  font-weight: 500;
}

.linkText {
  color: #424242;
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #a47dec;
}

::-webkit-scrollbar-thumb {
  background: rgb(132, 99, 194);
  border-radius: 10px;
}

.form-bg {
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.055);
  border-radius: 12px;
  padding: 30px;
}